{%  extends "layout.html" %}

{% block body %}
    <div class="container">


    <div class="intro">
    <h1>
        Q&A Demo
    </h1>
    <p>
    Live Q&A from a supplied prompt. Try a custom prompt or randomly generate one from Wikipedia.
    </p>
        </div>
       <div id="store-context" class="context">
    <div class="wrapper">

            <div>


            <h4>Text</h4>
            <textarea id=text-data placeholder="Enter title followed by prompt separated by a new line. Prompt can consist of multiple paragraphs. Click on 'random' button below for sample input."></textarea>
            <button id="random-btn" class="btn btn-secondary">Random</button>
        </div>

        <div >
            <h5 class="or">Or</h5>
        </div>

        <div >
            <h4 class="reduced-margin-h2">File Upload</h4>
            {{ dropzone.create(action='process_input') }}
            <button id="upload-btn" class="btn btn-secondary">Upload</button>

            {{ dropzone.load_js() }}
            {{ dropzone.config(custom_init='dz = this;document.getElementById("upload-btn").addEventListener("click", function handler(e) {dz.processQueue();});',
                     custom_options='autoProcessQueue: false, addRemoveLinks: true, parallelUploads: 20,') }}
        </div>




    </div>

            <button id="store-btn" class="btn btn-primary">Store Prompt</button>

    </div>

    <div id="reset-context" class="hidden context">
            <button id="reset-btn" class="btn btn-secondary">Reset Context</button>
            <h4><div id="context-title" class="context-display"></div></h4>
        <div id="context-data" class="context-display"></div>
        <div id="context-tokenized" class="context-display hidden"></div>
    </div>



        <div id="question-input" class="question hidden">
            <h4>Questions</h4>
            <textarea id=question-data placeholder="Enter questions separated by a new line."></textarea>
            <button id="process" class="btn btn-primary">Submit</button>
        </div>


    <div class="squad-results">
        <div>
                <span id=result></span>
        </div>

    </div>
    <div class="history hidden">
    <h3> History <a id="toggle-history">(hide)</a></h3>
        <span id="history"></span>
    </div>
        </div>

{% endblock %}